/* ResetButton.css */
.reset-btn {
    border: none;
    border-radius: 0.5rem;
    background-color: #007bff; /* Bright blue */
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    display: block;
  }
  
  .reset-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  