/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Zain", sans-serif;
}

/* App Container */
.app {
  text-align: center;
  background-color: #ffffe0; /* Light yellow background */
  min-height: 100vh; /* Full height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Title */
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* Status Text */
.status {
  font-size: 2rem;
  margin: 1rem 0;
}
